<div class="mb-10 mx-5 dm:max-w-screen-dm dm:mx-auto dm:px-10 ds:mx-9 dl:px-0">
    <div class="grid grid-rows-3 gap-4 h-[512px] mm:h-[752px] tl:grid-cols-3 tl:grid-rows-1 tl:gap-8 tl:h-[250px] ds:h-[300px]">
        {% for block in section.blocks %}
            {% liquid  
                assign image = block.settings.collection.featured_image
                assign title = block.settings.collection.title
                assign url = block.settings.collection.url
            %}

            <div class="relative group rounded-cl">
                {% if block != blank %}
                    <a href="{{ url }}" title="{{ title }}"><h2 class="absolute top-4 left-4 font-extrabold text-3xl text-white text-shadow ds:top-6 ds:left-6 ds:text-4xl ds:group-hover:text-[40px]">{{ title }}</h2></a>
                    <a href="{{ url }}" title="{{ title }}" class="button-blur flex absolute bottom-4 right-4 shadow-sp mm:inset-x-4 ts:right-6 ts:left-auto ds:bottom-6">VIEW ALL</a>
                    <a href="{{ url }}"><picture>
                        <source media="(min-width: 868px)" srcset="{{ image | image_url: width: 400 }}">
                        <source media="(min-width: 768px)" srcset="{{ image | image_url: width: 830 }}">
                        <source media="(min-width: 480px)" srcset="{{ image | image_url: width: 730 }}">
                        <img class="object-cover rounded-cl w-full h-full" src="{{ image | image_url: width: 440 }}" title="{{ title }}" alt="{{ image.alt }}" loading="lazy">                        
                    </picture></a>
                {% else %}
                    <div class="flex items-center justify-center rounded-cl bg-black/50 w-full h-full tl:col-span-2">
                        <p class="font-bold text-2xl text-center text-white">Collection</p>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>


{% schema %}
{
    "name": "Collection Recomendations",
    "settings": [
    ],
    "max_blocks": 4,
    "blocks": [
        {
            "name": "Collections",
            "type": "slide",
            "settings": [
                {
                    "type": "collection",
                    "id": "collection",
                    "label": "Collection"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Collection Recomendations"
        }
    ]
}
{% endschema %}