{% liquid
    assign title = section.settings.title
    assign content = section.settings.content
    assign sub = section.settings.sub-title
    assign heading = section.settings.heading
    assign qA = section.settings.questionA
    assign oA1 = section.settings.optionA1
    assign oA2 = section.settings.optionA2
    assign oA3 = section.settings.optionA3
    assign oA4 = section.settings.optionA4
    assign qB = section.settings.questionB
    assign oB1 = section.settings.optionB1
    assign oB2 = section.settings.optionB2
    assign button = section.settings.button
    assign message = section.settings.message
%}

<div class="mx-5 mb-10 dm:max-w-screen-dm dm:mx-auto dm:px-10 ds:mx-9 dl:px-0">
    <div class="grid gap-y-10 text-text bg-white shadow-sp rounded-cl h-auto py-10 px-4 ds:grid-cols-2 ds:gap-x-24 ds:py-12 ds:px-10">
        <div>
            <h1 class="text-title mb-12">{{ title }}</h1>
            <div>{{ content }}</div>
        </div>
        <div>
            <h2 class="text-title mb-12">{{ sub }}</h2>
            {% form 'contact' %}
                {{ form.errors | default_errors }}
                <div class="flex flex-col gap-4">
                    <div>{{ heading }}</div>
                    <input type="text" name="contact[title]" id="title" value="Regular Contact Form" class="hidden border-[0.5px] border-secondary rounded-full px-4 py-2" required="required">
                    <input type="text" name="contact[name]" id="name" placeholder="First Name" class="border-[0.5px] border-secondary rounded-full px-4 py-2" required="required">
                    <input type="email" name="contact[email]" id="email" placeholder="Email Address" class="border-[0.5px] border-secondary rounded-full px-4 py-2" required="required">
                    <input type="tel" name="contact[phone]" id="phone" placeholder="Phone Number" class="border-[0.5px] border-secondary rounded-full px-4 py-2" required="required">
                    <textarea name="contact[body]" id="message" rows="2" placeholder="Your Message" class="border-[0.5px] border-secondary rounded-cl px-4 py-2"></textarea>
                    <p class="font-bold">{{ qA }}</p>
                    <div class="flex flex-col gap-2">
                        <div class="flex items-center gap-1">
                            <input type="radio" name="contact[reply]" id="optionA1" value="{{ oA1 }}" class="border-secondary rounded focus:ring-0 w-5 h-5">
                            <label for="optionA1" class="align-middle">{{ oA1 }}</label>                   
                        </div>
                        <div class="flex items-center gap-1">
                            <input type="radio" name="contact[reply]" id="optionA2" value="{{ oA2 }}" class="border-secondary rounded focus:ring-0 w-5 h-5">
                            <label for="optionA2" class="align-middle">{{ oA2 }}</label><br>
                        </div>
                        <div class="flex items-center gap-1">
                            <input type="radio" name="contact[reply]" id="optionA3" value="{{ oA3 }}" class="border-secondary rounded focus:ring-0 w-5 h-5">
                            <label for="optionA3" class="align-middle">{{ oA3 }}</label><br>
                        </div>
                        <div class="flex items-center gap-1">
                            <input type="radio" name="contact[reply]" id="optionA4" value="{{ oA4 }}" class="border-secondary rounded focus:ring-0 w-5 h-5">
                            <label for="optionA4" class="align-middle">{{ oA4 }}</label><br>
                        </div>
                    </div>
                    <p class="font-bold">{{ qB }}</p>
                    <div class="flex flex-col gap-2">
                        <div class="flex items-center gap-1">
                            <input type="radio" name="contact[existingOrder]" id="optionB1" value="{{ oB1 }}" class="border-secondary rounded focus:ring-0 w-5 h-5">
                            <label for="optionB1" class="align-middle">{{ oB1 }}</label><br>
                        </div>
                        <div class="flex items-center gap-1">
                            <input type="radio" name="contact[existingOrder]" id="optionB2" value="{{ oB2 }}" class="border-secondary rounded focus:ring-0 w-5 h-5">
                            <label for="optionB2" class="align-middle">{{ oB2 }}</label><br>
                        </div>
                    </div>
                    <input type="tel" name="contact[order]" id="order" placeholder="Order Number (Optional)" class="border-[0.5px] border-secondary rounded-full px-4 py-2">
                    <input type="submit" value="{{ button }}" class="button self-start cursor-pointer">
                    <div>{{ message }}</div>
                </div>
            {% endform %}
        </div>
    </div>
</div>


{% schema %}
{
    "name": "Contact",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "richtext",
            "id": "content",
            "label": "Content"
        },
        {
            "type": "text",
            "id": "sub-title",
            "label": "Sub-title",
            "default": "Sub-title"
        },
        {
            "type": "richtext",
            "id": "heading",
            "label": "Form Heading",
            "default": "<p>Form Heading</p>"
        },
        {
            "type": "text",
            "id": "questionA",
            "label": "Question A",
            "default": "Question A"
        },
        {
            "type": "text",
            "id": "optionA1",
            "label": "Option A1",
            "default": "Option A1"
        },
        {
            "type": "text",
            "id": "optionA2",
            "label": "Option A2",
            "default": "Option A2"
        },
        {
            "type": "text",
            "id": "optionA3",
            "label": "Option A3",
            "default": "Option A3"
        },
        {
            "type": "text",
            "id": "optionA4",
            "label": "Option A4",
            "default": "Option A4"
        },
        {
            "type": "text",
            "id": "questionB",
            "label": "Question B",
            "default": "Question B"
        },
        {
            "type": "text",
            "id": "optionB1",
            "label": "Option B1",
            "default": "Option B1"
        },
        {
            "type": "text",
            "id": "optionB2",
            "label": "Option B2",
            "default": "Option B2"
        },
        {
            "type": "text",
            "id": "button",
            "label": "Button",
            "default": "Button"
        },
        {
            "type": "richtext",
            "id": "message",
            "label": "Final Message",
            "default": "<p>Final Message</p>"
        }
    ]
}
{% endschema %}