{% liquid
    assign heading = section.settings.heading
%}

<div class="mb-10 mx-5 dm:max-w-screen-dm dm:mx-auto dm:px-10 ds:mx-9 dl:px-0">
    <a href="{{ section.settings.blog.url }}" title="{{ heading }}">
        <h2 class="text-title text-center text-text mb-6 ds:mb-12">{{ heading }}</h2>
    </a>
    <div class="grid gap-5 mm:grid-cols-2 ts:gap-x-20 ts:gap-y-10 tl:grid-cols-4 tl:gap-4 ds:gap-7">
        {% for article in section.settings.blog.articles limit: 4 %}
            {% liquid
                assign image = article.image
                assign title = article.title
                assign author = article.author
                assign url = article.url
                assign totalWords = article.content | split: ' '
                assign totalReadTime = totalWords.size | divided_by: 270.0
            %}
            <div class="grid grid-rows-2 rounded-cl shadow-sp h-[340px] tl:w-auto">
                <a href="{{ url }}"><picture>
                    <source media="(min-width: 868px)" srcset="{{ image | image_url: width: 260 }}">
                    <source media="(min-width: 768px)" srcset="{{ image | image_url: width: 380 }}">
                    <source media="(min-width: 480px)" srcset="{{ image | image_url: width: 360 }}">
                    <img class="object-cover rounded-t-cl w-full h-full" src="{{ image | image_url: width: 450 }}" title="{{ title }}" alt="{{ image.alt }}" loading="lazy">
                </picture></a>
                <div class="grid grid-rows-5 text-text bg-white rounded-b-cl p-4 mm:p-3">
                    <h3 class="row-span-3 line-clamp-3 font-bold text-xl ts:self-center dm:text-2xl"><a href="{{ url }}" title="{{ title }}">{{ title }}</a></h3>
                    <div class="grid grid-cols-2 items-center">
                        <p class="text-xs text-text">by {{ author }}</p>
                        <p class="text-xs text-right">{{ totalReadTime | ceil }} min read</p>
                    </div>
                    <a class="font-bold text-base text-primary self-center" href="{{ url }}" title="{{ title }}">Read More</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


{% schema %}
{
    "name": "Blog entries",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Blog Posts"
        }, 
        {
            "type": "blog",
            "id": "blog",
            "label": "Blog"
        }
    ],
    "presets": [
        {
            "name": "Blog entries"
        }
    ]
}
{% endschema %}