{% liquid
    assign heading = section.settings.heading
    assign hierarchy = section.settings.hierarchy
    assign sub_title = section.settings.sub_title
    assign content = section.settings.content
    assign button = section.settings.button
    assign button_url = section.settings.button_url
    assign image = section.settings.image
    assign order = section.settings.order
    assign contain = section.settings.contain
    assign v-center = section.settings.v-center
    if section.settings.hierarchy == "h1" 
        assign subheadingtag == "h2"
    else 
        assign subheadingtag == "h3"
    endif
%}

<div class="mx-5 mb-10 dm:max-w-screen-dm dm:mx-auto dm:px-10 ds:mx-9 dl:px-0">
    <div class="flex text-text bg-white shadow-sp rounded-cl h-auto mb-10 {% if order == true %}flex-col-reverse md:flex-row-reverse{% else %}flex-col md:flex-row{% endif %}">
            <div>
                {% if image != blank %}
                    <picture>
                        <source media="(min-width: 868px)" srcset="{{ image | image_url: width: 565 }}">
                        <source media="(min-width: 768px)" srcset="{{ image | image_url: width: 830 }}">
                        <source media="(min-width: 480px)" srcset="{{ image | image_url: width: 730 }}">
                        <img class="object-cover rounded-t-cl w-full h-full max-h-[600px] tl:rounded-l-none tl:rounded-r-cl {% if contain == true  %}object-contain{% endif %}" src="{{ image | image_url: width: 440 }}" title="{{ heading }}" alt="{{ image.alt }}" loading="lazy">
                    </picture>          
                {% else %}
                    <div class="flex items-center justify-center bg-black/50 rounded-t-cl w-full h-24 tl:rounded-l-none tl:rounded-r-cl tl:h-full">
                        <p class="font-bold text-2xl text-center text-white">Image</p>
                    </div>
                {% endif %}
            </div>
            <div class="flex flex-col justify-between p-4 tl:order-1 tl:h-[600px] tl:p-10{% if v-center == true %} justify-center{% endif %}">
                    <div class="flex flex-col justify-around mb-6 tl:h-2/5">
                            <{{section.settings.hierarchy}} class="text-title mb-4 tl:mb-0">{{ heading }}</{{section.settings.hierarchy}}>
                            <{{subheadingtag}} class="font-bold text-2xl mb-4 tl:mb-0">{{ sub_title }}</{{subheadingtag}}>
                    </div>
                    <div class="flex flex-col {% unless v-center == false %}justify-between tl:h-1/2{% endunless %}">   
                        <div class="whitespace-pre-wrap mb-4">{{ content }}</div>
                        <a href="{{ button_url }}" title="{{ button }}" class="{% if whitebutton %}button-white{% else %}button{% endif %} mm:w-max">{{ button }}</a>
                    </div>               
            </div>            
    </div>
</div>


{% schema %}
{
    "name": "Image and text",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Heading"
        },
        {
            "type": "radio",
            "id": "hierarchy",
            "label": "Title hierarchy",
            "options": [
                {
                "value": "h1",
                "label": "H1"
                },
                {
                "value": "h2",
                "label": "H2"
                }
            ],
            "default": "h2"
        },
        {
            "type": "text",
            "id": "sub_title",
            "label": "Sub-title",
            "default": "Sub-title"
        },        
        {
            "type": "richtext",
            "id": "content",
            "label": "Content",
            "default": "<p>Content</p>"
        },
        {
            "type": "text",
            "id": "button",
            "label": "Button",
            "default": "Button"
        },
        {
            "type": "checkbox",
            "id": "whitebutton",
            "label": "White button",
            "default": false
        }, 
        {
            "type": "url",
            "id": "button_url",
            "label": "Button url"
        },
        {
            "type": "checkbox",
            "id": "v-center",
            "label": "Center text and button vertically",
            "default": false
        },        
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "checkbox",
            "id": "contain",
            "label": "Contain Image Inside Container",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "order",
            "label": "Change order",
            "default": false
        }
    ],
    "presets": [
        {
            "name": "Image and text"
        }
    ]
}
{% endschema %}