{% liquid 
    assign heading = section.settings.heading
    assign hierarchy = section.settings.hierarchy
    assign sub = section.settings.sub
%}

<div class="mb-10 mx-5 dm:max-w-screen-dm dm:mx-auto dm:px-10 ds:mx-9 dl:px-0">
    <div class="py-10">
        {% if heading != blank %}
            {% if hierarchy == "h2" %}
                <h2 class="font-extrabold text-[32px] text-center text-text mb-4">{{ heading }}</h2>  
            {% else %}
                <h1 class="font-extrabold text-[32px] text-center text-text mb-4">{{ heading }}</h1>   
            {% endif %}  
        {% endif %}
        {% if sub != blank %}
            <div class="font-medium text-center text-text mb-10">{{ sub }}</div>
        {% endif %}
    </div>
    <div class="flex flex-col gap-10 tl:gap-14">
        {% for block in section.blocks %}
            {% liquid 
                assign image = block.settings.image
                assign video = block.settings.video
                assign select = block.settings.select
                assign title = block.settings.title
                assign description = block.settings.description
                assign disclaimer = block.settings.disclaimer
                assign switch = block.settings.switch
                assign button = block.settings.button
                assign url = block.settings.url
            %}
            <div class="flex flex-col bg-white shadow-sp rounded-cl tl:flex-row tl:gap-2 tl:h-[400px]">
                {% if switch == false %}
                    {% if select == 'image' %}
                        <picture class="tl:order-2 tl:w-1/2">
                            <source media="(min-width: 868px)" srcset="{{ image | image_url: width: 600 }}">
                            <source media="(min-width: 480px)" srcset="{{ image | image_url: width: 830 }}">
                            <img class="object-cover rounded-t-cl w-full h-full tl:rounded-tl-none tl:rounded-r-cl" src="{{ image | image_url: width: 500 }}" title="{{ title }}" alt="{{ image.alt }}" loading="lazy">
                        </picture>
                    {% else %}
                        <video class="object-cover rounded-t-cl w-full h-full tl:order-2 tl:rounded-tl-none tl:rounded-r-cl tl:w-1/2" autoplay muted loop>
                            <source src="{{ video.sources[1].url }}">
                            Your browser does not support the video tag.
                        </video>
                    {% endif %}
                    <div class="flex flex-col justify-center gap-4 p-4 tl:order-1 tl:w-1/2 tl:p-8">
                        <h3 class="font-semibold text-2xl text-primary">{{ title }}</h3>
                        <div class="font-medium text-text">{{ description }}</div>
                        {% if disclaimer != blank %}
                            <div class="text-xs text-text italic">{{ disclaimer }}</div>
                        {% endif %}
                        {% if button != blank %}
                            <a href="{{ url }}" title="{{ url.title }}" class="button mt-4 mm:w-max">{{ button }}</a>
                        {% endif %}
                    </div>
                {% else %}
                   {% if select == 'image' %}
                        <picture class="tl:w-1/2">
                            <source media="(min-width: 868px)" srcset="{{ image | image_url: width: 600 }}">
                            <source media="(min-width: 480px)" srcset="{{ image | image_url: width: 830 }}">
                            <img class="object-cover rounded-t-cl w-full h-full tl:rounded-tr-none tl:rounded-l-cl" src="{{ image | image_url: width: 500 }}" title="{{ title }}" alt="{{ image.alt }}" loading="lazy">
                        </picture>
                    {% else %}
                        <video class="object-cover rounded-t-cl w-full h-full tl:rounded-tr-none tl:rounded-l-cl tl:w-1/2" autoplay muted loop>
                            <source src="{{ video.sources[1].url }}">
                            Your browser does not support the video tag.
                        </video>
                    {% endif %}
                    <div class="flex flex-col justify-center gap-4 p-4 tl:items-end tl:w-1/2 tl:p-8">
                        <h3 class="font-semibold text-2xl text-primary tl:text-right">{{ title }}</h3>
                        <div class="font-medium text-text tl:text-right">{{ description }}</div>
                        {% if disclaimer != blank %}
                            <div class="text-xs text-text italic tl:text-right">{{ disclaimer }}</div>
                        {% endif %}
                        {% if button != blank %}
                            <a href="{{ url }}" title="{{ url.title }}" class="button mt-4 mm:w-max">{{ button }}</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>


{% schema %}
{
    "name": "Product Materials",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading"
        },
        {
            "type": "radio",
            "id": "hierarchy",
            "label": "Title hierarchy",
            "options": [
                {
                "value": "h1",
                "label": "H1"
                },
                {
                "value": "h2",
                "label": "H2"
                }
            ],
            "default": "h2"
        },
        {
            "type": "richtext",
            "id": "sub",
            "label": "Sub-title"
        }
    ],
    "blocks": [
        {
            "type": "banner",
            "name": "Section",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Select Image"
                },
                {
                    "type": "video",
                    "id": "video",
                    "label": "Select Video"
                },
                {
                    "type": "select",
                    "id": "select",
                    "label": "Use Image or Video",
                    "options": [
                        {
                        "value": "image",
                        "label": "Image"
                        },
                        {
                        "value": "video",
                        "label": "Video"
                        }
                    ],
                    "default": "image"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "richtext",
                    "id": "description",
                    "label": "Description"
                },
                {
                    "type": "text",
                    "id": "disclaimer",
                    "label": "Disclaimer text"
                },
                {
                    "type": "checkbox",
                    "id": "switch",
                    "label": "Switch sides",
                    "default": false
                },
                {
                    "type": "text",
                    "id": "button",
                    "label": "Button Label"
                },
                {
                    "type": "url",
                    "id": "url",
                    "label": "Button URL"
                }
            ]
        }
    ],
    "presets": [
        {
        "name": "Product Materials"
        }
    ]
}
{% endschema %}