<div class="mb-10 mx-5 dm:max-w-screen-dm dm:mx-auto dm:px-10 ds:mx-9 dl:px-0">
    <div class="flex flex-col gap-4 ts:flex-row ds:gap-8">
        {% for block in section.blocks %}
        {% liquid 
            assign banner_img = block.settings.banner_img
            assign banner_img_mob = block.settings.banner_img_mob
            assign url = block.settings.url
        %}

        <div class="w-full ts:w-1/3">
            <a href="{{ url }}" alt="{{ url.alt }}" title="{{ url.title }}"><picture>
                <source media="(min-width: 768px)" srcset="{{ banner_img | image_url: width: 400 }}">
                <img class="object-cover w-full h-full" src="{{ banner_img_mob | image_url: width: 800 }}" alt="{{ banner_img.alt }}" title="{{ banner_img.title }}">
            </picture></a>
        </div>
        {% endfor %}
    </div>
</div>


{% schema %}
{
    "name": "Sales Banner",
    "max_blocks": 3,
    "settings": [],
    "blocks": [
        {
            "name": "Sale",
            "type": "banner",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "banner_img",
                    "label": "Desktop Banner Image"
                },
                {
                    "type": "image_picker",
                    "id": "banner_img_mob",
                    "label": "Mobile Banner Image"
                },
                {
                    "type": "url",
                    "id": "url",
                    "label": "Banner URL"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Sales Banner"
        }
    ]
}
{% endschema %}